.Order{
    width:80%;
    margin: 5px auto;
    border: solid 1px #ccc;
    padding:15px;
    box-sizing: border-box;
}
.Item{
    display:inline-block;
    border-radius: 20px;
    padding:5px 10px;
    border:solid #ccc 1px;
    margin: 2px;
    text-transform: capitalize;
    font-size: 12px;
}