.SideDrawer{
    position: fixed;
    top:0;
    left:0;
    width:380px;
    max-width:70%;
    z-index: 200;
    background: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    height: 100%;
}

.Open{
    transform: translateX(0);
}
.Close{
    transform: translateX(-100%);
    display: inline;
}

@media (min-width:500px){
    .SideDrawer{
        transform: translateX(-100%);
    }
}