.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.Button[disabled]{
    background: #ccc;
    border:#999 solid 1px;
}

.Button:first-of-type {
    /*margin-left: 0;
    padding-left: 0;*/
}

.Success {
    background: #5C9210;
    color:White;
}

.Danger {
    background: #944317;
    color:White;
}